html,
body {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
#app {
    min-height: 100%;
    padding-bottom: 50px;
}
.container {
    margin: 2rem 3rem;
}
